In [ ]:
import pandas as pd

In [220]:
df = pd.read_csv("Book2.csv")

In [221]:
df

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80.0,10,6996.0,334,99.94,9800+,58.60,29,13,7.0,626+,6
1,HC Brook (ENG),2022-2024,23*,37.0,2,2209.0,317,63.11,2493,88.60,8,9,1.0,240,37
2,AC Voges (AUS),2015-2016,20,31.0,7,1485.0,269*,61.87,2667,NaN,5,4,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41.0,4,2256.0,274,60.97,1707+,54.48,7,11,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40.0,4,2190.0,270*,60.83,416+,56.00,10,5,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),2002-2014,117,205.0,13,9265.0,277,48.25,15525,NaN,27,38,11.0,1165,24
63,WH Ponsford (AUS),1924-1934,29,48.0,4,2122.0,266,48.22,3118+,44.77,7,6,1.0,119+,0
64,SJ McCabe (AUS),1930-1938,39,62.0,5,2748.0,232,48.21,3217+,60.02,6,13,4.0,241+,5+
65,V Kohli (IND),2011-2024,119,203.0,13,9145.0,254*,48.13,16367,55.87,30,31,15.0,1020,30
66,DR Jardine (ENG),1928-1934,22,33.0,6,1296.0,127,48.00,2110+,25.59,1,10,2.0,53+,0

In [222]:
df.head(20)

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80.0,10,6996.0,334,99.94,9800+,58.60,29,13,7.0,626+,6
1,HC Brook (ENG),2022-2024,23*,37.0,2,2209.0,317,63.11,2493,88.60,8,9,1.0,240,37
2,AC Voges (AUS),2015-2016,20,31.0,7,1485.0,269*,61.87,2667,NaN,5,4,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41.0,4,2256.0,274,60.97,1707+,54.48,7,11,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40.0,4,2190.0,270*,60.83,416+,56.00,10,5,2.0,104+,1
5,H Sutcliffe (ENG),1924-1935,54,84.0,9,4555.0,194,60.73,6558+,34.59,16,23,2.0,202+,6
6,E Paynter (ENG),1931-1939,20,31.0,5,1540.0,243,59.23,1288+,45.88,4,7,3.0,125+,4
7,KF Barrington (ENG),1955-1968,82,131.0,15,6806.0,256,58.67,4957+,42.42,20,35,5.0,591+,27
8,ED Weekes (WI),1948-1958,48,81.0,5,4455.0,207,58.61,-,0.00,15,19,6.0,258+,2
9,WR Hammond (ENG),1927-1947,85,140.0,16,7249.0,336*,58.45,7491+,38.07,22,24,4.0,419+,27
10,YBK Jaiswal (IND),2023-2024,15,28.0,1,1568.0,NaN,58.07,2311,67.84,4,8,2.0,178,38
11,GS Sobers (WI),1954-1974,93,160.0,21,8032.0,365*,57.78,4063+,53.58,26,30,12.0,593+,32+
12,KC Sangakkara (SL),2000-2015,134,233.0,17,12400.0,319,57.40,22882,54.19,38,52,11.0,1491,51
13,KC Sangakkara (SL),2000-2015,134,233.0,17,12400.0,319,57.40,22882,54.19,38,52,11.0,1491,51
14,JB Hobbs (ENG),1908-1930,61,102.0,7,5410.0,211,56.94,5363+,46.22,15,28,4.0,276+,8
15,CL Walcott (WI),1948-1960,44,74.0,7,3798.0,220,56.68,-,0.00,15,14,1.0,107+,11
16,L Hutton (ENG),1937-1955,79,138.0,15,6971.0,364,56.67,2844+,39.34,19,33,5.0,358+,7
17,SPD Smith (AUS),2010-2024,110,197.0,25,9702.0,239,56.40,18161,53.42,32,41,11.0,1063,54
18,SPD Smith (AUS),2010-2024,110,197.0,25,NaN,239,56.40,18161,53.42,32,41,11.0,1063,54
19,Saud Shakeel (PAK),2022-2024,15,28.0,3,1406.0,208*,56.24,2911,48.29,4,7,1.0,143,1

In [223]:
df = df.rename(columns = {	'Mat':'matche',	'Inns':'inns',	'NO':'not_outs'	,	'HS':'highest_inns_score','Ave':'Avrage', 'BF':'balls_faced',	'SR':'Batting_strike_rate'})

In [224]:
df

,Player,Span,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s
0,DG Bradman (AUS),1928-1948,52,80.0,10,6996.0,334,99.94,9800+,58.60,29,13,7.0,626+,6
1,HC Brook (ENG),2022-2024,23*,37.0,2,2209.0,317,63.11,2493,88.60,8,9,1.0,240,37
2,AC Voges (AUS),2015-2016,20,31.0,7,1485.0,269*,61.87,2667,NaN,5,4,2.0,186,5
3,RG Pollock (SA),1963-1970,23,41.0,4,2256.0,274,60.97,1707+,54.48,7,11,1.0,246+,11
4,GA Headley (WI),1930-1954,22,40.0,4,2190.0,270*,60.83,416+,56.00,10,5,2.0,104+,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),2002-2014,117,205.0,13,9265.0,277,48.25,15525,NaN,27,38,11.0,1165,24
63,WH Ponsford (AUS),1924-1934,29,48.0,4,2122.0,266,48.22,3118+,44.77,7,6,1.0,119+,0
64,SJ McCabe (AUS),1930-1938,39,62.0,5,2748.0,232,48.21,3217+,60.02,6,13,4.0,241+,5+
65,V Kohli (IND),2011-2024,119,203.0,13,9145.0,254*,48.13,16367,55.87,30,31,15.0,1020,30
66,DR Jardine (ENG),1928-1934,22,33.0,6,1296.0,127,48.00,2110+,25.59,1,10,2.0,53+,0

In [225]:
df.isnull().any()

Player                 False
Span                   False
matche                  True
inns                    True
not_outs               False
Runs                    True
highest_inns_score      True
Avrage                 False
balls_faced            False
Batting_strike_rate     True
100                    False
50                     False
0                       True
4s                      True
6s                     False
dtype: bool

In [226]:
df[df['balls_faced'].isna()==1]

Empty DataFrame
Columns: [Player, Span, matche, inns, not_outs, Runs, highest_inns_score, Avrage, balls_faced, Batting_strike_rate, 100, 50, 0, 4s, 6s]
Index: []

In [227]:
df['balls_faced'] = df['balls_faced'].fillna(0)

In [228]:
df['balls_faced']

0     9800+
1      2493
2      2667
3     1707+
4      416+
      ...
62    15525
63    3118+
64    3217+
65    16367
66    2110+
Name: balls_faced, Length: 67, dtype: object

In [229]:
df['Batting_strike_rate'] = df['Batting_strike_rate'].fillna(0)

In [230]:
df[df['Player'] == 'ED Weekes (WI)']

,Player,Span,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s
8,ED Weekes (WI),1948-1958,48,81.0,5,4455.0,207,58.61,-,0.0,15,19,6.0,258+,2

In [231]:
df[df['Player'] == 'RG Pollock (SA)']

,Player,Span,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s
3,RG Pollock (SA),1963-1970,23,41.0,4,2256.0,274,60.97,1707+,54.48,7,11,1.0,246+,11

In [232]:
df[df['Player'] == 'DR Jardine (ENG)']

,Player,Span,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s
66,DR Jardine (ENG),1928-1934,22,33.0,6,1296.0,127,48.0,2110+,25.59,1,10,2.0,53+,0

In [233]:
df[df['Player'].isin(['DR Jardine (ENG)' , 'YBK Jaiswal (IND)','H Sutcliffe (ENG)'])]

,Player,Span,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s
5,H Sutcliffe (ENG),1924-1935,54,84.0,9,4555.0,194,60.73,6558+,34.59,16,23,2.0,202+,6
10,YBK Jaiswal (IND),2023-2024,15,28.0,1,1568.0,NaN,58.07,2311,67.84,4,8,2.0,178,38
66,DR Jardine (ENG),1928-1934,22,33.0,6,1296.0,127,48.00,2110+,25.59,1,10,2.0,53+,0

In [234]:
df['Span'].str

In [235]:
df['start_year'] = df['Span'].str.split(pat = '-').str[0]

In [236]:
df['final_year'] = df['Span'].str.split(pat = '-').str[1]

In [237]:
df

,Player,Span,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s,start_year,final_year
0,DG Bradman (AUS),1928-1948,52,80.0,10,6996.0,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948
1,HC Brook (ENG),2022-2024,23*,37.0,2,2209.0,317,63.11,2493,88.60,8,9,1.0,240,37,2022,2024
2,AC Voges (AUS),2015-2016,20,31.0,7,1485.0,269*,61.87,2667,0.00,5,4,2.0,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41.0,4,2256.0,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40.0,4,2190.0,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),2002-2014,117,205.0,13,9265.0,277,48.25,15525,0.00,27,38,11.0,1165,24,2002,2014
63,WH Ponsford (AUS),1924-1934,29,48.0,4,2122.0,266,48.22,3118+,44.77,7,6,1.0,119+,0,1924,1934
64,SJ McCabe (AUS),1930-1938,39,62.0,5,2748.0,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938
65,V Kohli (IND),2011-2024,119,203.0,13,9145.0,254*,48.13,16367,55.87,30,31,15.0,1020,30,2011,2024
66,DR Jardine (ENG),1928-1934,22,33.0,6,1296.0,127,48.00,2110+,25.59,1,10,2.0,53+,0,1928,1934

In [199]:
df.drop(['Span'], axis =1)

,Player,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s,start_year,final_year
0,DG Bradman (AUS),52,80.0,10,6996.0,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948
1,HC Brook (ENG),23*,37.0,2,2209.0,317,63.11,2493,88.60,8,9,1.0,240,37,2022,2024
2,AC Voges (AUS),20,31.0,7,1485.0,269*,61.87,2667,0.00,5,4,2.0,186,5,2015,2016
3,RG Pollock (SA),23,41.0,4,2256.0,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970
4,GA Headley (WI),22,40.0,4,2190.0,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith (ICC/SA),117,205.0,13,9265.0,277,48.25,15525,0.00,27,38,11.0,1165,24,2002,2014
63,WH Ponsford (AUS),29,48.0,4,2122.0,266,48.22,3118+,44.77,7,6,1.0,119+,0,1924,1934
64,SJ McCabe (AUS),39,62.0,5,2748.0,232,48.21,3217+,60.02,6,13,4.0,241+,5+,1930,1938
65,V Kohli (IND),119,203.0,13,9145.0,254*,48.13,16367,55.87,30,31,15.0,1020,30,2011,2024
66,DR Jardine (ENG),22,33.0,6,1296.0,127,48.00,2110+,25.59,1,10,2.0,53+,0,1928,1934

In [ ]:
df.head(10)

,Player,Span,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s,start_year,final_year
0,DG Bradman (AUS),1928-1948,52,80.0,10,6996.0,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948
1,HC Brook (ENG),2022-2024,23*,37.0,2,2209.0,317,63.11,2493,88.60,8,9,1.0,240,37,2022,2024
2,AC Voges (AUS),2015-2016,20,31.0,7,1485.0,269*,61.87,2667,0.00,5,4,2.0,186,5,2015,2016
3,RG Pollock (SA),1963-1970,23,41.0,4,2256.0,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970
4,GA Headley (WI),1930-1954,22,40.0,4,2190.0,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954
5,H Sutcliffe (ENG),1924-1935,54,84.0,9,4555.0,194,60.73,6558+,34.59,16,23,2.0,202+,6,1924,1935
6,E Paynter (ENG),1931-1939,20,31.0,5,1540.0,243,59.23,1288+,45.88,4,7,3.0,125+,4,1931,1939
7,KF Barrington (ENG),1955-1968,82,131.0,15,6806.0,256,58.67,4957+,42.42,20,35,5.0,591+,27,1955,1968
8,ED Weekes (WI),1948-1958,48,81.0,5,4455.0,207,58.61,-,0.00,15,19,6.0,258+,2,1948,1958
9,WR Hammond (ENG),1927-1947,85,140.0,16,7249.0,336*,58.45,7491+,38.07,22,24,4.0,419+,27,1927,1947

In [ ]:
df['Player'].str.split(pat = '(')

0      [DG Bradman , AUS)]
1        [HC Brook , ENG)]
2        [AC Voges , AUS)]
3       [RG Pollock , SA)]
4       [GA Headley , WI)]
              ...
62    [GC Smith , ICC/SA)]
63    [WH Ponsford , AUS)]
64      [SJ McCabe , AUS)]
65        [V Kohli , IND)]
66     [DR Jardine , ENG)]
Name: Player, Length: 67, dtype: object

In [ ]:
df['Country'] = df['Player'].str.split(pat= '(').str[1]

In [ ]:
df['Country']

0        AUS)
1        ENG)
2        AUS)
3         SA)
4         WI)
       ...
62    ICC/SA)
63       AUS)
64       AUS)
65       IND)
66       ENG)
Name: Country, Length: 67, dtype: object

In [242]:
df['Country']

0        AUS)
1        ENG)
2        AUS)
3         SA)
4         WI)
       ...
62    ICC/SA)
63       AUS)
64       AUS)
65       IND)
66       ENG)
Name: Country, Length: 67, dtype: object

In [243]:
df['Player'].str.split(pat = ')')

0      [DG Bradman (AUS, ]
1        [HC Brook (ENG, ]
2        [AC Voges (AUS, ]
3       [RG Pollock (SA, ]
4       [GA Headley (WI, ]
              ...
62    [GC Smith (ICC/SA, ]
63    [WH Ponsford (AUS, ]
64      [SJ McCabe (AUS, ]
65        [V Kohli (IND, ]
66     [DR Jardine (ENG, ]
Name: Player, Length: 67, dtype: object

In [244]:
df['Player'] = df['Player'].str.split(pat= '(').str[0]

In [245]:
df['Player']

0      DG Bradman
1        HC Brook
2        AC Voges
3      RG Pollock
4      GA Headley
          ...
62       GC Smith
63    WH Ponsford
64      SJ McCabe
65        V Kohli
66     DR Jardine
Name: Player, Length: 67, dtype: object

In [246]:
df.head()

,Player,Span,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s,start_year,final_year,Country
0,DG Bradman,1928-1948,52,80.0,10,6996.0,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948,AUS)
1,HC Brook,2022-2024,23*,37.0,2,2209.0,317,63.11,2493,88.60,8,9,1.0,240,37,2022,2024,ENG)
2,AC Voges,2015-2016,20,31.0,7,1485.0,269*,61.87,2667,0.00,5,4,2.0,186,5,2015,2016,AUS)
3,RG Pollock,1963-1970,23,41.0,4,2256.0,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970,SA)
4,GA Headley,1930-1954,22,40.0,4,2190.0,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954,WI)

In [ ]:
df['Country'].str.split(pat = ')').str[0]

0        AUS
1        ENG
2        AUS
3         SA
4         WI
       ...
62    ICC/SA
63       AUS
64       AUS
65       IND
66       ENG
Name: Country, Length: 67, dtype: object

In [250]:
df.head(10)

,Player,Span,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s,start_year,final_year,Country
0,DG Bradman,1928-1948,52,80.0,10,6996.0,334,99.94,9800+,58.60,29,13,7.0,626+,6,1928,1948,AUS
1,HC Brook,2022-2024,23*,37.0,2,2209.0,317,63.11,2493,88.60,8,9,1.0,240,37,2022,2024,ENG
2,AC Voges,2015-2016,20,31.0,7,1485.0,269*,61.87,2667,0.00,5,4,2.0,186,5,2015,2016,AUS
3,RG Pollock,1963-1970,23,41.0,4,2256.0,274,60.97,1707+,54.48,7,11,1.0,246+,11,1963,1970,SA
4,GA Headley,1930-1954,22,40.0,4,2190.0,270*,60.83,416+,56.00,10,5,2.0,104+,1,1930,1954,WI
5,H Sutcliffe,1924-1935,54,84.0,9,4555.0,194,60.73,6558+,34.59,16,23,2.0,202+,6,1924,1935,ENG
6,E Paynter,1931-1939,20,31.0,5,1540.0,243,59.23,1288+,45.88,4,7,3.0,125+,4,1931,1939,ENG
7,KF Barrington,1955-1968,82,131.0,15,6806.0,256,58.67,4957+,42.42,20,35,5.0,591+,27,1955,1968,ENG
8,ED Weekes,1948-1958,48,81.0,5,4455.0,207,58.61,-,0.00,15,19,6.0,258+,2,1948,1958,WI
9,WR Hammond,1927-1947,85,140.0,16,7249.0,336*,58.45,7491+,38.07,22,24,4.0,419+,27,1927,1947,ENG

In [209]:
df.dtypes

Player                  object
Span                    object
matche                  object
inns                   float64
not_outs                 int64
Runs                   float64
highest_inns_score      object
Avrage                 float64
balls_faced             object
Batting_strike_rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
start_year              object
final_year              object
Country                 object
dtype: object

In [67]:
df.dtypes

Player                  object
Span                    object
matche                  object
inns                   float64
not_outs                 int64
Runs                   float64
highest_inns_score      object
Avrage                 float64
balls_faced             object
Batting_strike_rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
start_year              object
final_year              object
Country                float64
dtype: object

In [ ]:
df['highest_inns_score'].str.split(pat= '*').str[0]

In [72]:
df['highest_inns_score'] = df['highest_inns_score'].str.split(pat= '*').str[0]

In [74]:
df['highest_inns_score'].astype('float')

0     334.0
1     317.0
2     269.0
3     274.0
4     270.0
      ...
62    277.0
63    266.0
64    232.0
65    254.0
66    127.0
Name: highest_inns_score, Length: 67, dtype: float64

In [75]:
df['highest_inns_score'] = df['highest_inns_score'].astype('float')

In [76]:
df.dtypes

Player                  object
Span                    object
matche                  object
inns                   float64
not_outs                 int64
Runs                   float64
highest_inns_score     float64
Avrage                 float64
balls_faced             object
Batting_strike_rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
start_year              object
final_year              object
Country                float64
dtype: object

In [87]:
df = df.astype({'start_year' :'int','final_year':'int'})

In [100]:
df.dtypes

Player                  object
Span                    object
matche                 float64
inns                   float64
not_outs                 int64
Runs                   float64
highest_inns_score     float64
Avrage                 float64
balls_faced             object
Batting_strike_rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
start_year               int64
final_year               int64
Country                float64
dtype: object

In [82]:
df['matche'] = df['matche'].astype('floar')

In [83]:
df['matche']

0      52.0
1      23.0
2      20.0
3      23.0
4      22.0
      ...
62    117.0
63     29.0
64     39.0
65    119.0
66     22.0
Name: matche, Length: 67, dtype: float64

In [102]:
df = df.drop(['Span'],axis = 1)

In [98]:
df['balls_faced'] = df['balls_faced'].str.split(pat= '+').str[0]

In [105]:
# df['balls_faced'] = df['balls_faced'].astype('float')

In [108]:
df['career_length'] =  df['final_year'] - df['start_year']

In [109]:
df

,Player,matche,inns,not_outs,Runs,highest_inns_score,Avrage,balls_faced,Batting_strike_rate,100,50,0,4s,6s,start_year,final_year,Country,career_length
0,DG Bradman,52.0,80.0,10,6996.0,334.0,99.94,,58.60,29,13,7.0,626+,6,1928,1948,NaN,20
1,HC Brook,23.0,37.0,2,2209.0,317.0,63.11,,88.60,8,9,1.0,240,37,2022,2024,NaN,2
2,AC Voges,20.0,31.0,7,1485.0,269.0,61.87,,0.00,5,4,2.0,186,5,2015,2016,NaN,1
3,RG Pollock,23.0,41.0,4,2256.0,274.0,60.97,,54.48,7,11,1.0,246+,11,1963,1970,NaN,7
4,GA Headley,22.0,40.0,4,2190.0,270.0,60.83,,56.00,10,5,2.0,104+,1,1930,1954,NaN,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,GC Smith,117.0,205.0,13,9265.0,277.0,48.25,,0.00,27,38,11.0,1165,24,2002,2014,NaN,12
63,WH Ponsford,29.0,48.0,4,2122.0,266.0,48.22,,44.77,7,6,1.0,119+,0,1924,1934,NaN,10
64,SJ McCabe,39.0,62.0,5,2748.0,232.0,48.21,,60.02,6,13,4.0,241+,5+,1930,1938,NaN,8
65,V Kohli,119.0,203.0,13,9145.0,254.0,48.13,,55.87,30,31,15.0,1020,30,2011,2024,NaN,13
66,DR Jardine,22.0,33.0,6,1296.0,127.0,48.00,,25.59,1,10,2.0,53+,0,1928,1934,NaN,6

In [111]:
df.dtypes

Player                  object
matche                 float64
inns                   float64
not_outs                 int64
Runs                   float64
highest_inns_score     float64
Avrage                 float64
balls_faced             object
Batting_strike_rate    float64
100                      int64
50                       int64
0                      float64
4s                      object
6s                      object
start_year               int64
final_year               int64
Country                float64
career_length            int64
dtype: object

In [112]:
df['career_length'].mean()

np.float64(12.865671641791044)

In [114]:
df[df['career_length']>10]['Batting_strike_rate'].mean()

np.float64(45.649565217391306)

In [115]:
df[df['start_year']<1960].count()

Player                 25
matche                 24
inns                   25
not_outs               25
Runs                   24
highest_inns_score     25
Avrage                 25
balls_faced            25
Batting_strike_rate    25
100                    25
50                     25
0                      24
4s                     25
6s                     25
start_year             25
final_year             25
Country                 0
career_length          25
dtype: int64

In [258]:
df.groupby('Country')['highest_inns_score'].max